body {
  margin: 4rem auto;
  text-align: center;
  max-width: 40rem;
}

h2 {
  margin-bottom: 8rem;
  margin-top: 8rem;
}

img {
  margin-bottom: 8rem;
  max-width: 100%;
  height: auto;
}

img.is-landscape {
  height: auto;
  max-width: 100%;
}

img.is-portrait {
  max-height: 40rem;
  width: auto;
}
